.footer {
  padding-top: 34px;
  padding-bottom: 66px;
  background-image: linear-gradient(-18deg, rgba(#061d68, 0.9) 0%, rgba(#0b4aec, 0.9) 100%), url("../../img/decor/footer__bg.png");
}

.footer__text {
  color: #ffffff;
  text-align: center;
  margin: 0;
}
