.getcard {
  padding-top: 155px;
  padding-bottom: 200px;
  background-color: #f3f2f2;
}

.getcard__titles {
  text-align: center;
}

.getcard__title {
  margin-top: 14px;
}

.getcard__list {
  @include list;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 430px;
  margin-top: 94px;
}

.getcard__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 345px;
  width: 370px;
  box-sizing: border-box;
  padding: 40px 39px 40px;
  background: #ffffff;
  transition-property: min-height;
  transition-duration: 0.3s;

  &:hover {
    min-height: 100%;
    color: #ffffff;
    background: linear-gradient(-18deg, #061d68 0%, #0b4aec 100%);
  }
}

.getcard__name {
  @include font(20px, 42px, 600);
  position: relative;
  text-transform: uppercase;
  padding-top: 115px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    background: no-repeat center;
    transform: translateX(-50%);
  }

  &--online::before {
    background-image: url("../img/decor/ep_oa.png");
  }

  &--approval::before {
    background-image: url("../img/decor/ep_ga.png");
  }

  &--card::before {
    background-image: url("../img/decor/ep_gyc.png");
  }
}

.getcard__text {
  @include font(14px, 28px);
  font-family: "Raleway", "Arial", sans-serif;
  margin: 0;
  margin-top: 10px;
}

@media (max-width: 1350px) {
  .getcard {
    padding-top: 100px;
    padding-bottom: 140px;
  }

  .getcard__list {
    height: 400px;
  }

  .getcard__item {
    width: 31.62%;
  }
}

@media (max-width: 1024px) {
  .getcard__list {
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }

  .getcard__item {
    width: 100%;
    min-height: 120px;
    text-align: left;
    transform: scale(1);
    transition-property: transform;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  .getcard__name {
    @include font(20px, 42px, 600);
    padding-top: 0;
    padding-left: 95px;

    &::before {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      transform: translateX(0);
    }

    &--online::before {
      background-image: url("../img/decor/ep_oa_d.png");
    }

    &--approval::before {
      background-image: url("../img/decor/ep_ga_d.png");
    }

    &--card::before {
      background-image: url("../img/decor/ep_gyc_d.png");
    }
  }

  .getcard__text {
    padding-left: 95px;
  }
}

@media (max-width: 768px) {
  .getcard {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .getcard__item {
    flex-direction: column;
  }

  .getcard__name {
    height: 80px;
    line-height: 28px;
  }

  .getcard__text {
    padding-left: 0;
  }
}
