.getcard {
  padding-top: 155px;
  padding-bottom: 200px;
  background-color: #f3f2f2;
}

.getcard__titles {
  text-align: center;
}

.getcard__title {
  margin-top: 14px;
}

.getcard__list {
  @include list;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 430px;
  margin-top: 94px;
}

.getcard__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 345px;
  width: 370px;
  box-sizing: border-box;
  padding: 40px 39px 40px;
  background: #ffffff;
  transition-property: min-height;
  transition-duration: 0.3s;

  &:hover {
    min-height: 100%;
    color: #ffffff;
    background: linear-gradient(-18deg, #061d68 0%, #0b4aec 100%);
  }
}

.getcard__name {
  @include font(20px, 42px, 600);
  position: relative;
  text-transform: uppercase;
  padding-top: 115px;

    &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    background:no-repeat center;
    transform: translateX(-50%);
  }

  &--online::before {
    background-image: url("../img/decor/ep_oa.png");
  }

  &--approval::before {
    background-image: url("../img/decor/ep_ga.png");
  }

  &--card::before {
    background-image: url("../img/decor/ep_gyc.png");
  }
}

.getcard__text {
  @include font(14px, 28px);
  font-family: "Raleway";
  margin: 0;
  margin-top: 10px;
}
