.header {
  color: #ffffff;
  background-image:
    url("../../img/decor/bg_dollar.png"),
    url("../../img/decor/bg_percent.png"),
    url("../../img/decor/bg_cart.png"),
    url("../../img/decor/bg_sl.png"),
    url("../../img/decor/bg_rectangle.png"),
    url("../../img/decor/bg_rectangle.png"),
    linear-gradient(-18deg, #061d68 0%, #0b4aec 100%);
  background-repeat: no-repeat;
  background-position:
    395px 589px,//dollar
    318px 364px,//percent
    393px 473px,//cart
    261px 503px,//shopping list
    right 0 top 306px,
    right -45px top 430px,
    0 0;
}

.header__top {
  background-image: linear-gradient(0deg, rgba(#061d68, 0.1) 0%, rgba(#0b4aec, 0.1) 100%);

  & .container {
    display: flex;
    align-items: center;
    height: 120px;
    min-height: 120px;
  }
}

.header__logo {
  margin-top: 12px;
}

.header__nav {
  margin-left: auto;
}

.header__btn-wrapper {
  margin-left: 37px;
}

.header__menu-btn {
  display: none;
}

@media (max-width: 1350px) {
  .header {
    background-position:
      230px 530px,//dollar
      110px 250px,//percent
      230px 370px,//cart
      45px 440px,//shopping list
      right 0 top 250px,
      right -45px top 370px,
      0 0;
  }

  .header__top {
    & .container {
      min-height: 100px;
    }
  }
}

@media (max-width: 1024px) {
  .header__top {
    & .container {
      align-items: flex-start;
      flex-wrap: wrap;
      height: 0;
      min-height: 80px;
    }
  }

  .header__logo {
    width: 172px;
    height: 37px;
    margin-top: 20px;
  }

  .header__nav {
    display: none;
    flex-direction: column;
    order: 2;
    width: 100%;

    &--opened {
      display: flex;
    }
  }

  .header__btn-wrapper {
    margin-top: 25px;
    margin-left: auto;
  }

  .header__menu-btn {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    background: transparent;
    border: none;
    cursor: pointer;

    & .header__menu-image--close {
      display: none;
    }

    &--opened .header__menu-image--open {
      display: none;
    }

    &--opened .header__menu-image--close {
      display: inline-block;
    }
  }
}

@media (max-width: 768px) {
  .header {
    background-image: linear-gradient(-18deg, #061d68 0%, #0b4aec 100%);
    background-position: 0 0;
  }

  .header__logo {
    width: 138px;
    height: 30px;
  }

  .header__btn-wrapper {
    display: none;
    order: 1;
    text-align: center;
    width: 100%;
    margin: 10px auto;

    &--shown {
      display: inline-block;
    }
  }

  .header__menu-btn {
    margin-left: auto;
  }
}
