.services {
  max-width: 1330px;
  padding-top: 160px;
  padding-bottom: 158px;
}

.services__titles {
  margin-left: 80px;
}

.services__title {
  margin-top: 10px;
}

.services__slider {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.services__btn {
  width: 80px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &--next {
    transform: scaleX(-1);
  }

  &:focus .services__arrow,
  &:hover .services__arrow {
    transform: scale(1.1);
  }
}

.services__list {
  @include list;
  display: flex;
  width: calc(100% - 160px);
  justify-content: space-between;
}

.services__item {
  border: 1px solid rgba(4, 4, 4, 0.3);

  &:hover,
  &:focus {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.services__link {
  color: #000000;
}

.services__image {
  display: block;
  width: 270px;
  height: 270px;
}

.services__text {
  @include font(20px, 42px);
  text-align: center;
  margin: 18px 0;
}

@media (max-width: 1350px) {
  .services__titles {
    margin-left: calc((100% - (250px * 3 + 60px)) / 2);
  }

  .services__list {
    width: calc(250px * 3 + 60px);
  }
}

@media (max-width: 1024px) {
  .services {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .services__titles {
    margin-left: calc((100% - (250px * 2 + 60px)) / 2);
  }

  .services__list {
    width: calc(250px * 2 + 60px);
  }

  .services__image {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .services {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .services__titles {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .services__slider {
    margin-top: 40px;
  }

  .services__btn {
    width: 40px;
  }

  .services__list {
    width: 210px;
  }

  .services__image {
    width: 210px;
    height: 210px;
  }
}
