.site-nav {
  @include list;
  display: flex;
}

.site-nav__item {
  &:not(:last-child) {
    margin-right: 46px;
  }
}

.site-nav__link {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;

  &:focus,
  &:hover {
    border-bottom: 2px solid #ffffff;
  }

  &:active {
    opacity: 0.6;
  }
}
