body {
  margin: 0 auto;
  padding: 0;

  @include font;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-weight: 600;
  color: #0b4bec;
  padding: 2px 14px;
  background-color: #ffffff;
  border-radius: 12px;
}
