$tablet-width: 768px;
$desktop-width: 1920px;

$mobile-padding: *;
$tablet-padding: *;
$desktop-padding: *;

$mobile-margin-left: *;
$tablet-margin-left: *;
$desktop-margin-left: *;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
